html, body, div, span, applet, object, iframe,
p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*@import "grip_system";*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Montserrat";
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.navbar {
  padding: 15px 40px;
}

.navbar ul li {
  /*	padding: 17px;*/
}

.navbar ul li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.0125em;
  color: #909191;
  transition: 0.3s;
  position: relative;
  padding-bottom: 6px;
}

.navbar ul li a.active {
  color: black;
}

.navbar ul li a:after {
  position: absolute;
  content: "";
  height: 2.5px;
  background: #D93C23;
  bottom: 0;
  width: 0;
  left: 50%;
  transition: 0.3s;
  border-radius: 45px;
}

.navbar ul li a.active:after {
  width: 100%;
  left: 0;
}

.navbar ul li a:hover:after {
  width: 100%;
  left: 0;
}

.navbar ul li a:hover {
  color: black;
}

.avatar-user {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #C0BCBC;
  margin-left: 10px;
}

.d-block {
  display: block;
}

.logo {
  width: 165px;
  -o-object-fit: contain;
     object-fit: contain;
}

.h-100 {
  height: 100%;
}

.align-items-center {
  align-items: center;
}

.logo-f {
  /*height: 100%;
     display: flex;
     align-items: center;*/
}

.btn-news {
  background: #D93C23;
  border-radius: 30px;
  padding: 7.5px 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.0125em;
  color: #FFFFFF;
  transition: 0.3s;
  margin: 0 24px;
}

.btn-news:hover {
  background: #B52008;
  transform: scale(1.05);
}

.like-page {
  position: relative;
  color: black;
}

.like-page i {
  font-size: 23px;
}

.like-page:after {
  width: 9px;
  height: 9px;
  background: red;
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}

.user-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.0125em;
  color: #272727;
}

.user-position {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 0.001em;
  color: #272727;
  opacity: 0.5;
  float: right;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.flex-30 {
  flex: 30%;
  width: 30%;
}

.container {
  margin: 0 40px;
}

.banner {
  margin: 36px 150px;
  transition: 0.3s;
}

.w-100 {
  width: 100%;
}

.p-r {
  position: relative;
}

.p-a {
  position: absolute;
}

.w-50 {
  width: 50%;
}

.text-banner {
  transform: translate(-50px, -50%);
  bottom: 50%;
  left: 19%;
}

.main-container {
  margin: 0px 250px;
  transition: 0.3s;
}

.category {
  transition: 0.5s;
}

.category li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  letter-spacing: 0.0015em;
  color: #3B4144;
  transition: 0.3s;
  padding: 6px 36px;
  border-radius: 36px;
}

.category li a.active {
  color: white;
  background: #007882;
}

.category li a:hover {
  color: white;
  background: #007882;
}

.p-2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #3B4144;
  display: inline-block;
  padding: 0 18px;
}

.w-list-category {
  width: 40px;
  height: 40px;
}

.address-news a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.0125em;
  color: #007882;
}

.title-news {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.0015em;
  color: #3B4144;
}

.title-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.005em;
  color: #3B4144;
  opacity: 0.5;
}

.user-name-news {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.001em;
  color: #3B4144;
}

.date-news {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.001em;
  color: #3B4144;
  opacity: 0.5;
}

.img-news {
  border-radius: 24px;
  overflow: hidden;
}

.list-news-m {
  margin: 31px 0 20px 0;
}

.m-b-1 {
  margin-bottom: 10px;
}

.m-b-2 {
  margin-bottom: 20px;
}

.m-t-10 {
  margin-top: 100px;
}

.row {
  --bs-gutter-x: 1.1rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.col {
  flex: 1 0 0%;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: 5px;
}

.transition {
  transition: 0.3s;
}

.img-news img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.col-xl-2 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-xl-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-xl-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-xl-8 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}

.col-xl-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.news-item {
  transition: 0.3s;
}

.news-item img {
  transition: 0.3s;
  transform: scale(1.1);
}

.news-item .title-news {
  transition: 0.3s;
  margin-top: 10px;
}

.news-item:hover .title-news {
  color: #1938F4;
}

.d-none {
  display: none;
}

.add-like {
  z-index: 2;
  right: 26px;
  top: 26px;
  font-size: 28px;
  transition: 0.3s;
}

.add-like:hover {
  transform: scale(1.3);
}

.add-like a {
  transition: 0.3s;
  color: white;
}

.news-item:hover .add-like a {
  color: #EC1A1A;
}

.post-item {
  transition: 0.3s;
  overflow: hidden;
}

.post-item img {
  transition: 0.3s;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-item .add-like {
  top: 14px;
}

.post-item .img {
  overflow: hidden;
  border-radius: 24px;
}

.post-item .title-news {
  transition: 0.3s;
}

.post-item:hover .title-news {
  color: #1938F4;
}

.post-item:hover .add-like a {
  color: #EC1A1A;
}

.p-b {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.0015em;
  color: #3B4144;
}

.m-t-b-1 {
  margin: 7px 0 11px 0;
}

.m-t-b-4 {
  margin: 40px 0;
}

.like-page {
  transition: 0.3s;
}

.like-page:hover {
  color: #D60E0E;
}

.btn-more {
  padding: 10px 40px;
  border-radius: 24px;
  border: 1px solid #7F7E7E;
  color: #7F7E7E;
  transition: 0.3s;
}

.btn-more:hover {
  background: #7F7E7E;
  color: white;
}

.post .title-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 21px;
}

.videos img {
  /*width: 100%;
  height: 100%;
  object-fit: cover;*/
}

.video-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.video-lable-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.0015em;
  color: #3B4144;
}

.video-label-next-icon {
  font-weight: 500;
  color: #3B4144;
}

.video-label-see-all {
  display: block;
  font-size: 0.9375rem;
  color: #3B4144;
  line-height: 21px;
  font-weight: 400;
}

.list-video {
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.list-video_sub::-webkit-scrollbar-thumb {
  background: #3B4144;
  border-radius: 50px;
}

.list-video_sub::-webkit-scrollbar {
  width: 8px;
  border-radius: 50px;
  height: 8px;
}

.list-video_sub::-webkit-scrollbar-track {
  background-color: #CCCCCC;
}

.video-main {
  width: 70%;
}

.list-video_sub {
  flex-direction: column;
  width: 28%;
}

.list-video_sub {
  display: flex;
  overflow-y: auto;
}

.video-poster {
  position: relative;
}

.video-main .video-icon-container-pause {
  text-align: center;
  background: linear-gradient(93.91deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.25) 100%);
  height: 96px;
  width: 96px;
  border-radius: 100%;
  position: absolute;
  bottom: 50%;
  left: 45%;
  transform: translate(0, 50%);
  line-height: 48px;
}

.icon_pause {
  height: 40px;
  transform: translateY(70%);
}

.video-main .video-desc {
  position: absolute;
  bottom: 10%;
  left: 25px;
}

.video-main .video-desc-title {
  font-size: 1.125rem;
  line-height: 27px;
  font-weight: 600;
  color: #FFFFFF;
}

.video-desc-title {
  font-size: 0.875rem;
  line-height: 21px;
  font-weight: 600;
  color: #3B4144;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-number-view {
  margin-bottom: 0px;
}

.video-poster {
  position: relative;
}

.list-video_sub .video-item {
  flex: 0 0 50%;
}

.video-icon-container-pause {
  text-align: center;
  background: linear-gradient(93.91deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.25) 100%);
  height: 48px;
  width: 48px;
  border-radius: 100%;
  position: absolute;
  bottom: 50%;
  left: 45%;
  transform: translate(-10%, 50%);
  line-height: 48px;
}

.video-poster-img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

.video-icon_pause {
  width: 38%;
  transform: translate(5%, 61%);
}

.list-video_sub .video-item .video-icon_pause {
  transform: translate(5%, 26%);
}

.video .add-like {
  right: 14px;
  top: 14px;
}

.cre_at {
  font-weight: 400;
  color: #3B4144;
  opacity: 0.5;
  font-size: 0.6875rem;
  line-height: 22px;
}

.number-view {
  font-weight: 400;
  font-size: 0.75rem;
  color: #3B4144;
}

.video-main .video-number-view .number-view, .video-main .video-number-view .cre_at {
  font-weight: 400;
  font-size: 0.9375rem;
  color: #FFFFFF;
}

.videos .add-like {
  right: 13px;
  top: 13px;
}

.video-card {
  margin: 60px 0;
}

.list-video_sub .video-item {
  margin: 2px;
}

.bell {
  display: none;
  margin-right: 30px;
}

.header-nav-menu-icon {
  height: 24px;
  width: 24px;
}

.dropdown-menu-right {
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background: white;
  padding: 30px;
  z-index: 100;
  display: none;
  overflow: hidden;
  transition: 0.3s;
}

.dropdown-menu-right.active {
  display: block;
  width: 100%;
  transition: 0.3s;
}

.w-h-100 {
  width: 100%;
  height: 100%;
}

.btn-menu {
  bottom: 0;
  text-align: center;
}

.db-btn {
  background: #D93C23;
  border-radius: 30px;
  width: 100%;
  padding: 15px 0;
  color: white;
  border: 1px solid #D93C23;
  display: block;
  margin-bottom: 15px;
}

.btn-sign_up {
  display: block;
  padding: 15px 0;
  color: white;
  width: 50%;
  background: #3B4144;
  border-radius: 30px;
  border: 1px solid #3B4144;
}

.btn-sign_in {
  display: block;
  padding: 15px 0;
  color: #3B4144;
  border-radius: 30px;
  width: 50%;
  border: 1px solid #3B4144;
}

#close_menu i {
  font-size: 40px;
  transition: 0.3s;
}

#close_menu i:hover {
  color: #F23D05;
}

.menu-logo {
  width: 200px;
  margin-left: 20px;
}

.dropdown-menu-right ul {
  margin-top: 60px;
}

.dropdown-menu-right ul li {
  margin-bottom: 20px;
  position: relative;
}

.dropdown-menu-right ul li:after {
  position: absolute;
  content: "";
  background: #D93C23;
  height: 3px;
  width: 0px;
  right: 85px;
  top: 23px;
  transition: 0.5s;
}

.dropdown-menu-right ul li:hover:after {
  width: 50%;
}

.dropdown-menu-right ul li a {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #272727;
  opacity: 0.5;
  display: block;
  width: 100%;
}

.dropdown-menu-right ul li a:hover {
  color: #D93C23;
  opacity: 1;
}

.btn-cate {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  letter-spacing: 0.0015em;
  transition: 0.3s;
  padding: 6px 36px;
  border-radius: 36px;
  color: white;
  background: #007882;
}

.m-f-r {
  margin: 0 10px;
}

.back {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.0125em;
  color: #D93C23;
}

.title-post {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: -0.01em;
  color: #3B4144;
}

.content {
  margin-top: 60px;
}

.btn {
  border-radius: 30px;
  padding: 5px 20px;
  margin: 10px;
  display: inline-block;
}

.btn-mail {
  background: #CCCCCC;
  color: white;
  border: 1px solid #CCCCCC;
}

.btn-share {
  background: #395185;
  border: 1px solid #395185;
  color: white;
}

.btn-save {
  border: 1px solid #CCCCCC;
  color: #CCCCCC;
}

.img-post {
  margin: 20px 0;
}

.img-post img {
  border-radius: 24px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.005em;
  color: #3B4144;
}

.img-full {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.br-24 {
  overflow: hidden;
  border-radius: 24px;
}

.h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.04em;
  color: #3B4144;
}

.mt-1 {
  margin: 10px 0;
}

.li-content ul {
  margin-left: 15px;
}

.li-content ul li {
  list-style: outside;
}

.li-content ul li .s1 {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.005em;
  color: black;
  font-weight: 700;
}

.li-content ul li .s2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.005em;
  color: #3B4144;
}

.tag {
  margin: 30px 0;
}

.tag .btn-tag {
  background: #E6E6E6;
  color: black;
  border: 1px solid #E6E6E6;
}

.mt-5 {
  margin: 50px 0;
}

.m-t-b-1 .btn {
  display: inline-block;
}

.video-item-main, .video-item-main .video-poster, .video-item-main .video-poster .video-poster-img {
  height: 100%;
  width: 100%;
}

footer {
  margin-top: 80px;
}

@media only screen and (max-width: 1253px) {
  .container {
    margin: 0 46px;
  }
  .banner {
    margin: 30px 10px;
  }
  .main-container {
    margin: 30px 10px;
  }
}
@media only screen and (max-width: 1070px) {
  .btn-news, .btn-db {
    display: none;
  }
  .btn-news {
    margin: 0 15px;
  }
  .like-page {
    transition: 0.3s;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    margin: 0 46px;
  }
  .menu, .btn-db {
    display: none;
  }
  .bell {
    display: block;
  }
  .banner {
    margin: 30px 0px;
  }
  .post .title-news {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 21px;
  }
  .d-block-lg {
    display: initial;
  }
  .like-page {
    margin-right: 20px;
  }
  .logo-layout {
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    margin: 0 36px;
  }
  .category li a {
    padding: 6px 20px;
    font-size: 14px;
  }
  .col-md-12 {
    flex: 0 0 auto;
    max-width: 100%;
  }
  .list-video_sub {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    width: 100%;
  }
  .video-main {
    width: 100%;
  }
  .list-video {
    flex-wrap: wrap;
    height: auto;
  }
  .dropdown-menu-right ul li:hover:after {
    width: 25%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 545px) {
  .col-md-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-4 {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .title-post {
    font-size: 21px;
  }
  .w-c {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 100px;
  }
  .m-t-b-1 .btn {
    padding: 5px 30px;
  }
  .header-nav-menu-icon {
    height: 15px;
    width: 15px;
  }
  .d-none-mobile1 {
    display: none;
  }
  .d-initial-mobile1 {
    display: initial;
  }
  .logo-layout {
    margin-top: 10px;
  }
  .like-page {
    margin-right: 10px;
  }
  .like-page i {
    font-size: 20px;
  }
  .p-b {
    font-size: 15px;
  }
  .btn-cate {
    font-size: 14px;
    display: inline-block;
    padding: 4px 16px;
  }
  .video-main .video-icon-container-pause {
    height: 59px;
    width: 58px;
    left: 42%;
  }
  .d-flex-m {
    display: flex;
  }
  .content {
    margin-top: 30px;
  }
  .mt-5 {
    margin: 30px 0 10px 0;
  }
}
@media only screen and (max-width: 440px) {
  .container {
    margin: 0 22px;
  }
  .dropdown-menu-right ul li:hover:after {
    width: 0px;
  }
  .category li a {
    padding: 6px 20px;
  }
  .post-item .add-like {
    bottom: 9px;
    left: 17px;
    font-size: 20px;
    top: auto;
  }
  .post-item .add-like:hover {
    transform: scale(1);
  }
  .m-0-mb {
    margin: 0px;
  }
  .d-block-md {
    display: block;
  }
  .d-none-mobile {
    display: none;
  }
  .post .title-description {
    -webkit-line-clamp: 4;
    font-size: 14px;
  }
  .post .title-news {
    font-size: 14px;
  }
  .post .user-name-news {
    font-size: 12px;
  }
  .post .date-news {
    font-size: 12px;
  }
  .post .address-news {
    font-size: 13px;
  }
  .col-12 {
    flex: 0 0 auto;
    max-width: 100%;
  }
  .col-6 {
    flex: 0 0 auto;
    max-width: 50%;
  }
}

.post-item img {
  transition: 0.3s;
  width: 100%;
  height: 143px;
  -o-object-fit: cover;
  object-fit: cover;
}

.search {
  width: 100%;
  height: 31px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 11px;
  flex: 1;
}

.d-flex {
  display: flex;
}